.card {
    max-width: 750px;
    min-height: 375px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 300ms ease;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        filter: grayscale(0);
        
        h1 {
            transition: color 300ms ease;
            color: yellow;
        }

        p {
            max-height: 3.5rem;
            margin: 1em 0;
        }
    }
    background-size: cover;
    overflow: hidden;
    background-position: center;
    filter: grayscale(100%);

    .card-body {
        position: absolute;
        bottom: 0;
        margin: 0 2.3rem 1.5rem 2.3rem;
        color: white;
    }

    h1 {
        margin: 0;
    }

    p {
        transition: all 300ms ease;
        max-height: 0;
        margin: 0;
        overflow: hidden;
    }

    button {
        top: -50px;
        left: -50px;
        position: absolute;
        width: 50px;
        height: 50px;
        mix-blend-mode: color;
        transform: scale(1);
        transition: transform 300ms ease;
        outline: none;
        border: none;
        border-radius: 50px;
        background-color: #DA4D1D;
        padding: 0;
        cursor: pointer;
    }
    &:hover button {
        transform: scale(20);
    }
}

@media only screen and (max-width: 600px) {
    .card {
        .card-body {
            top: 50%;
            left: 50%;
            bottom: unset;
            transform: translate(-50%, -50%);
            margin: 0;
        }

        p {
            display: none;
        }
    }
}
