footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 24px 0;
    background-color: rgb(23,23,23);
    color: white;
}